.checkout {
  padding: 20px 0 80px 0;
  @media (max-width: $size-phone) {
    margin-top: 70px;
  }
  &-form {
    &-file {
      position: absolute;
      right: 0;
      pointer-events: none;
      opacity: 0;
      @include wh(0, 0);
      @include maxwh(0, 0);
      top: 0;
    }
    &-requisites__text {
      max-width: 580px;
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.01em;
      strong {
        font-weight: 600;
      }
      @media (max-width: $size-phone) {
        max-width: 100%;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.01em;
        margin-bottom: 20px;
      }
    }
    &-requisites-filename {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.01em;
      width: fit-content;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: $size-phone) {
        line-height: 17px;
        overflow: hidden;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.01em;
      }
    }
    &-requisites-wrapper {
      @include wh(280px, 56px);
      background: $clr-gray;
      border: 1px solid $clr-gray-2;
      padding: 19px 15px 18px;
      opacity: 0.5;
      margin-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      &.active {
        display: block;
      }
      @media (max-width: $size-phone) {
        padding: 10px 15px 10px;
        border-radius: 100px;
        @include wh(auto, auto);
        min-width: 178px;
        max-width: 210px;
      }
    }
    &-requisites-outer {
      cursor: pointer;
      width: fit-content;
      position: relative;
      @include flex(row, flex-start, flex-start);
      @media (max-width: $size-phone) {
        align-items: center;
      }
    }
    &__title {
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid $clr-gray-2;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: -0.02em;
      @media (max-width: $size-phone) {
        margin-bottom: 40px;
      }
    }
    &__block {
      margin-bottom: 60px;
      &:last-of-type {
        margin-bottom: 80px;
      }
      @media (max-width: $size-phone) {
        margin-bottom: 80px;
        &:last-of-type {
          margin-bottom: 80px;
        }
      }
    }
    &-delivery {
      margin-bottom: 80px;
    }
    &-input {
      &-blocks {
        @include flex(row, flex-start, flex-start, wrap);
        width: 100%;
      }
      &__block {
        min-width: 280px;
        @media (min-width: $size-laptop) {
          margin-right: 20px;
          &:nth-of-type(n + 5) {
            margin-top: 30px;
          }
          &::last-of-type {
            margin-right: 0;
          }
        }
        @media (max-width: $size-phone) {
          min-width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .block__input,
        .block__input-textarea {
          padding: 19px 15px 18px;
          width: 100%;
          border: 1px solid $clr-gray-2;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          &::placeholder {
            font-style: normal;
            font-weight: 500;
            color: $clr-gray-3;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.01em;
          }
        }
        .block__title {
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    &-comments {
      @include wh(580px, 168px);
      @include minwh(580px, 168px);
      resize: none;
      @media (max-width: $size-phone) {
        @include wh(100%, 168px);
        @include minwh(100%, 168px);
      }
    }
    &-checkbox-wrapper {
      position: relative;
      margin-top: 30px;
      &:last-of-type {
        margin-top: 20px;
      }
      @media (max-width: $size-phone) {
        margin-top: 20px;
      }
      width: fit-content;
      @include flex($justify: flex-start);
      .checkbox.checked ~ .checkbox-fake {
        border: 2px solid $clr-orange;
        .checkbox-check {
          display: block;
          @include wh(15px, 12px);
        }
      }
      .checkbox {
        cursor: pointer;
        @include wh(32px, 32px);
        opacity: 0;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        &-fake {
          pointer-events: none;
          @include flex();
          border-radius: 4px;
          border: 1px solid $clr-gray-2;
          background: $clr-white;
          margin-right: 10px;
          left: 0;
          top: 0;
          @include wh(32px, 32px);
          min-height: 32px;
          min-width: 32px;
        }
        &-check {
          display: none;
          @include wh(19.2px, 16px);
        }
        &-text {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.01em;
        }
      }
    }
  }
  &-router {
    color: $clr-dark;
    margin-bottom: 44px;
    @media (max-width: $size-phone) {
      display: none;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: $clr-dark;
    margin-bottom: 60px;
    @media (max-width: $size-phone) {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.02em;
      color: #2d2d30;
    }
  }
}
