.main {
  padding-top: 20px;
  &__title {
    margin-bottom: 30px;
    color: $clr-dark;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
  }
  &-router {
    margin-bottom: 44px;
    color: $clr-dark;
  }
  &-blocks {
    @include flex($justify: flex-start, $align: flex-start);
  }
  &__block {
    &:first-of-type {
      width: 100%;
      max-width: 433px;
      margin-right: 120px;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 60px;
  }
  &__img {
    position: absolute;
    bottom: -22px;
    left: 0;
    @include wh(428px, 428px);
  }
  &-img-wrapper {
    pointer-events: none;
    @include wh(428px, 428px);
    position: relative;
    display: flex;
    align-items: flex-end;
  }
}
