@import "../shared/mixins.scss";
@import "../shared/variables.scss";
.categories {
  padding: 80px 0 0 0;
  &-cards {
    @include flex(row, space-between, center, wrap);
    @media (max-width: $size-phone) {
      display: none;
    }
  }
  &-title {
    @media (max-width: $size-phone) {
      margin-bottom: 23px;
    }
  }
  &__card {
    background-size: cover;
    @include flex(column, space-between, flex-start, nowrap);
    flex-basis: 33%;
    height: 285px;
    padding: 40px 30px 22px 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: $clr-white;
    &.big {
      flex-basis: 64%;
    }
    @media (min-width: $size-laptop) {
      &:nth-of-type(1) {
        background: url("../../src/images/home-page/categories/bg-1.png") center no-repeat;
        background-size: cover;
      }
      &:nth-of-type(2) {
        background: url("../../src/images/home-page/categories/bg-2.png") center no-repeat;
        background-size: cover;
      }
      &:nth-of-type(3) {
        background: url("../../src/images/home-page/categories/bg-3.png") center no-repeat;
        background-size: cover;
      }
      &:nth-of-type(4) {
        background: url("../../src/images/home-page/categories/bg-4.png") center no-repeat;
        background-size: cover;
      }
      &:nth-of-type(5) {
        background: url("../../src/images/home-page/categories/bg-5.png") center no-repeat;
        background-size: cover;
        margin-bottom: 0;
      }
    }
    .card {
      &__title {
        letter-spacing: -0.02em;
        font-weight: 500;
        font-size: 24px;
      }
    }
    @media (min-width: $size-laptop) {
      transition: 0.1s;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
        .btn-more__arrow {
          background: $clr-blue;
          svg {
            path {
              stroke: $clr-white;
            }
          }
        }
      }
    }
  }
  &-cards-slider {
    display: none;
  }
  @media (max-width: $size-phone) {
    &-cards-slider {
      z-index: 1;
      display: block;
    }
    &__card {
      z-index: 2;
      flex-basis: auto;
      @include wh(280px, 285px);
      min-width: none;
      min-height: none;
      margin-bottom: 0;
      @include flex(row, flex-start, flex-start);
      position: relative;
      padding: 0;
      .card {
        &-content {
          padding: 40px 20px 20px 20px;
          @include flex(column, space-between, flex-start);
          position: relative;
          height: 100%;
          width: 100%;
          width: 280px;
          z-index: 4;
        }
        &-bg {
          overflow: hidden;
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 280px;
          height: 285px;
          z-index: 2;
        }
      }
    }
  }
}
