.certificates {
  padding: 80px 0 0 0;
  background: $clr-gray;
  &-content {
    @media (max-width: $size-phone) {
      display: none;
    }
    padding: 0 0 70px 0;
    @include flex($justify: space-between);
    .certificate {
      max-width: 370px;
    }
  }
  &-content-slider {
    display: none;
    @media (max-width: $size-phone) {
      display: block;
    }
    .certificate {
      @media (max-width: $size-phone) {
        height: 370px;
        @include flex();
      }
    }
  }
}
