@import "../shared/mixins.scss";
@import "../shared/variables.scss";
.questions {
  background: $clr-gray;
  padding: 80px 0 0 0;
  &-outer {
    border-top: 1px solid #e3e3e3;
    padding: 80px 0 0 0;
  }
  &__title {
    text-align: center;
    @media (max-width: $size-phone) {
      text-align: left;
    }
  }
  .question {
    @include flex($justify: space-between);
    cursor: pointer;
    &-text {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: -0.02em;
      line-height: 22px;
      user-select: none;
    }
    &-wrapper {
      padding: 24px 32px;
      background: $clr-white;
      border-radius: 10px;
      margin-bottom: 15px;
      transition: 0.2s;
      &:last-of-type {
        margin-bottom: 0;
      }
      .answer {
        transition: 0.2s;
        overflow: hidden;
        display: block;
        height: 0;
        font-size: 16px;
        font-weight: normal;
        line-height: 140%;
        letter-spacing: -0.01em;
        &.active {
          margin-top: 24px;
          height: auto;
        }
      }
      @media (max-width: $size-phone) {
        padding: 15px;
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .question {
          &-text {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.02em;
          }
        }
        .answer {
          font-size: 14px;
          line-height: 140%;
          letter-spacing: -0.01em;
          &.active {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
