@import "../shared/mixins.scss";
@import "../shared/variables.scss";
.using {
  padding-top: 80px;
  &-cards-slider {
    @media (min-width: $size-laptop) {
      display: none;
    }
    .using-card {
      max-width: 100%;
      width: 100%;
    }
  }
  &-cards {
    position: relative;
    @include flex($justify: space-between, $wrap: wrap, $align: flex-start);
    &::after {
      flex: 1 1 auto;
      content: "";
      right: 0;
      bottom: 0;
      width: 360px;
      height: 166px;
    }
    @media (max-width: $size-phone) {
      display: none;
    }
  }
  &__title {
    margin-bottom: 10px;
    @media (max-width: $size-phone) {
      max-width: 280px;
    }
  }
  &-card {
    max-width: 360px;
    position: relative;
    z-index: 1;
    padding-top: 62px;
    @include flex(column, flex-start, flex-start);
    &:after {
      position: absolute;
      z-index: -1;
    }
    @media (min-width: $size-laptop) {
      margin-bottom: 30px;
      &:nth-of-type(4) {
        margin-bottom: 0;
      }
      &:nth-of-type(5) {
        margin-bottom: 0;
        justify-self: flex-start;
        margin-left: 60px;
      }
    }
    @media (max-width: $size-phone) {
      display: none;
    }
    .card {
      &__title {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        @media (max-width: $size-phone) {
          max-width: 280px;
        }
      }
      &__text {
        display: block;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        @media (max-width: $size-phone) {
          max-width: 280px;
        }
      }
      &__number {
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        color: $clr-blue;
        opacity: 0.1;
        font-weight: bold;
        font-size: 80px;
        line-height: 97px;
      }
    }
  }
  &-outer {
    @media (max-width: $size-phone) {
      position: relative;
    }
  }
  &-slider-controls {
    display: none;
    @media (max-width: $size-phone) {
      display: flex;
      max-width: 80px;
      width: 100%;
      @include flex($justify: space-between);
      position: absolute;
      height: 30px;
      right: 0;
      // top: calc(50% - 15px);
      top: 130px;
      .next,
      .prev {
        z-index: 3;
        stroke: $clr-blue;
        @include wh(30px, 30px);
        &[aria-disabled="true"] {
          stroke: $clr-gray-2;
        }
      }
      .prev {
        transform: rotate(180deg);
      }
    }
  }
}
