body {
  font-family: $font-inter;
  background: $clr-white;
  color: $clr-dark;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  &.locked {
    overflow: hidden;
  }
}
*::placeholder {
  font-family: $font-inter;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $clr-dark;
  &:hover {
    text-decoration: none;
  }
}
.router {
  @include flex($justify: flex-start);
  color: $clr-white;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  a {
    cursor: pointer;
  }
  &-from {
    margin-right: 5px;
  }
  &-arrow {
    margin-right: 5px;
  }
}
.page-title {
  font-weight: bold;
  font-size: 46px;
  letter-spacing: -0.02em;
  color: $clr-white;
}
.section-title {
  font-weight: 600;
  font-size: $title-size-pc;
  line-height: 45px;
  color: $clr-dark;
  margin-bottom: 30px;
}
.global-container {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: $size-laptop) {
    padding: 0 20px;
  }
}
.basic-link {
  cursor: pointer;
  color: $clr-dark;
  text-decoration: none;
  transition: 0.1s;
  @media (min-width: $size-laptop) {
  }
}
