.btn {
  background: none;
  cursor: pointer;
  color: $clr-white;
  border: none;
  font-size: 16px;
  font-family: $font-inter;
  &:hover {
    border: none;
  }
  &-download {
    background: $clr-blue;
    @include flex();
    padding: 8px 22px;
    &__img {
      margin-right: 2px;
    }
    &.mobile {
      width: 100%;
      margin-top: 40px;
      color: $clr-white;
      padding: 17px 0;
      a {
        @include flex();
        width: 100%;
        color: $clr-white;
        letter-spacing: -0.02em;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
      }
      .btn-download__img {
        @include wh(30px, 30px);
        margin-right: 2px;
      }
    }
  }
  &-search {
    padding: 0;
    @include wh(24px, 24px);
    margin-right: 10px;
    &.mobile {
      opacity: 0.3;
    }
  }
  &-cart {
    max-width: 24px;
    padding: 0;
    &.mobile {
      @include flex();
      opacity: 0.3;
      max-width: none;
      @include wh(30px, 30px);
      .btn-cart__img {
        width: 100%;
      }
    }
  }
  &-order,
  &-fill-form {
    @include flex();
    @include wh(240px, 68px);
    background: #0090d4;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    @media (max-width: $size-phone) {
      font-size: 18px;
      letter-spacing: -0.01em;
    }
  }
  &-fill-form {
    padding: 25px 49px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    @media (max-width: $size-phone) {
      padding: 25px 0;
      @include flex();
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &-more {
    @include flex();
    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.01em;
      margin-right: 13px;
    }
    &__arrow {
      @include wh(36px, 36px);
      @include flex();
      background: $clr-white;
      border-radius: 50%;
      svg {
        @include wh(30px, 30px);
        stroke: $clr-blue;
      }
    }
  }
  &-expand {
    @include flex();
    padding: 0;
    @include wh(12px, 6px);
    &.active {
      transform: rotate(180deg);
      svg {
        path {
          stroke: $clr-orange;
        }
      }
    }
  }
  &-submit-tel {
    z-index: 5;
    @include flex();
    @include wh(240px, 68px);
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    background: $clr-blue;
    color: $clr-white;
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: $size-phone) {
      position: static;
      margin-top: 15px;
      @include wh(100%, 71px);
    }
  }
  &-our-offer-arrow {
    @include flex();
    @include wh(30px, 30px);
    padding: 0 !important;
    margin: 0;
  }

  &-download-requisites,
  &-return {
    @include flex();
    @include wh(240px, 68px);
    background: $clr-white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.01em;
    border-radius: 100px;
    color: $clr-blue;
    @media (max-width: $size-phone) {
    }
  }
  &-return {
    font-weight: 600;
    color: $clr-white;
    line-height: 19px;
    background: $clr-blue;
  }
  &-burger {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include wh(20px, 15px);
    box-sizing: border-box;
    opacity: 0.3;

    span,
    span:after,
    span:before {
      border-radius: 10px;
      display: block;
      background: $clr-dark;
      content: "";
      @include wh(100%, 3px);
    }
    span {
      position: relative;
      &:after,
      &:before {
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 1.5px);
      }
      &:after {
        transition: 0.5s;
        margin-top: 7.5px;
      }
      &:before {
        transition: 0.5s;
        margin-top: -7.5px;
      }
    }
    &.burger-close {
      margin-bottom: 27px;
      opacity: 1;
      @include wh(25px, 15px);
      span {
        @include wh(100%, 3px);
        transform: rotate(-135deg);
        &:after,
        &:before {
          left: calc(50% - 12.5px);
          top: calc(50% - 1.5px);
        }
      }

      span::after {
        margin: 0;
        transform: rotate(270deg);
      }
      span::before {
        display: none;
      }
    }
  }
}
