@import "../shared/mixins.scss";
@import "../shared/variables.scss";
.popUp {
  padding: 60px 30px;
  position: relative;
  background: $clr-white;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 600px;
  position: relative;
  &-inner {
    z-index: 1;
    overflow: visible;
    width: 100%;
    background: $clr-white;
    border-radius: 20px;
    @include flex(column, flex-start, center);
  }
  &-form {
    @include flex(column, flex-start, center);
    width: 480px;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  &__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $clr-dark;
    max-width: 420px;
    text-align: center;
  }

  &__img {
    max-width: 612px;
    position: absolute;
    right: 89px;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    @media (max-width: $size-laptop) {
      max-width: 50%;
      right: 0;
    }
    @media (max-width: 1000px) {
      display: none;
    }
    @media (max-width: $size-phone) {
      display: none;
    }
  }
  .tel-input-popUp,
  .name-input-popUp,
  .mail-input-popUp {
    z-index: 1;
    width: 100%;
    max-width: 480px;
    background: $clr-white;
    border-radius: 20px;
    border: 1px solid $clr-gray-2;
    color: rgba($clr-dark, 0.5);
    padding: 25px 30px 25px 30px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
    &::placeholder {
      color: rgba($clr-dark, 0.5);
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.01em;
    }
  }
  .tel-input-popUp {
    margin-bottom: 0;
  }
  &-checkbox-wrapper {
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    @include flex($justify: flex-start);
    .checkbox:checked + .checkbox-fake {
      .checkbox-check {
        display: block;
        @include wh(15px, 12px);
      }
    }
    .checkbox {
      @include wh(0, 0);

      &-fake {
        cursor: pointer;
        @include flex();
        border-radius: 4px;
        border: 1px solid $clr-gray-2;
        background: $clr-white;
        margin-right: 10px;
        left: 0;
        top: 0;
        @include wh(24px, 24px);
        min-height: 24px;
        min-width: 24px;
      }
      &-check {
        display: none;
        @include wh(15px, 12px);
      }
      &-text {
        cursor: pointer;
        user-select: none;
        opacity: 0.5;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.01em;
      }
    }
  }
}
