.phone-form {
  padding: 188px 0 0 0;
  position: relative;

  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $clr-dark;
  }
  &-outer {
    z-index: 1;
    max-width: 1200px;
    height: 324px;
    overflow: visible;
    position: absolute;
    bottom: 80px;
    left: calc(50% - 600px);
    width: 100%;
    background: $clr-white;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    @include flex($justify: space-between);
    padding: 70px 90px 70px 50px;
  }
  &__img {
    max-width: 612px;
    position: absolute;
    right: 89px;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }
  &-input-wrapper {
    position: relative;
    width: 550px;
    z-index: 0;
    .tel-input {
      z-index: 1;
      width: 100%;
      background: $clr-gray;
      border-radius: 100px;
      border: 1px solid #dbdbdb;
      padding: 24px 245px 24px 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.01em;
      color: #919192;
    }
  }
}
