.reviews {
  padding: 80px 0 0 0;
  background: $clr-gray;
  &-content {
    padding: 0 0 70px 0;
    border-bottom: 1px solid #e3e3e3;
    @include flex($justify: space-between);
    .review {
      max-width: 370px;
    }
  }
}
