@import "../shared/mixins.scss";
@import "../shared/variables.scss";
.advantages {
  padding-top: 80px;
  @media (max-width: $size-phone) {
    display: none;
  }
  &-cards {
    @include flex($justify: flex-start, $wrap: wrap, $align: flex-start);
  }
  &__title {
    margin-bottom: 10px;
  }
  &-card {
    position: relative;
    max-width: 500px;
    height: 195px;
    z-index: 1;
    padding-top: 62px;
    margin-bottom: 30px;
    @include flex(column, flex-start, flex-start);
    &:nth-of-type(1),
    &:nth-of-type(3) {
      margin-right: 100px;
    }
    &:nth-of-type(4) {
      margin-bottom: 0;
    }
    &:nth-of-type(5) {
      margin-bottom: 0;
      justify-self: flex-start;
      margin-left: 60px;
    }
    .card {
      &__title {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }
      &__text {
        display: block;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
      }
      &__number {
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        color: $clr-blue;
        opacity: 0.1;
        font-weight: bold;
        font-size: 80px;
        line-height: 97px;
      }
    }
  }
}
