.requisites {
  padding-bottom: 80px;
  &-outer {
    @include flex($justify: space-between);
    width: 100%;
    background: $clr-blue url(images/about-page/requisites/requisites-bg.png) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 70px 50px;
  }
  &__title {
    color: $clr-white;
    font-weight: bold;
    font-size: 46px;
    letter-spacing: -0.02em;
  }
}
