.why-we {
  padding: 80px 0 80px 0;
  &__title {
    max-width: 420px;
  }
  &-content {
    position: relative;
    @include flex(row, space-between, center, wrap);
    &:after {
      position: absolute;
      content: "";
      width: 540px;
      right: 0;
      bottom: 0;
    }
  }
  .advantage {
    @include flex($justify: flex-start, $align: flex-start);
    width: 540px;
    margin-right: 60px;
    margin-bottom: 30px;
    &:nth-of-type(5) {
      margin-bottom: 0;
    }
    &:nth-of-type(6) {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.01em;
      font-weight: normal;
    }
    &__img {
      margin-right: 20px;
      @include wh(80px, 80px);
    }
    &__text {
      color: $clr-dark;
      display: flex;
      flex-direction: column;
    }
  }
}
